@model IEnumerable<Room>


@{
    ViewBag.Title = "Room List";
}

<h4>Wykaz pokojów w ofercie</h4>
<hr />
<a class="btn btn-outline-dark" style="width:auto" asp-action="Create" asp-controller="Room">Dodaj pokój do oferty</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark">Powrót</a>
<br />

<div class="card-deck">

    @foreach (var room in Model)
    {
        var photoPath = "~/Images/" + (room.PhotoPath ?? "hotel.jpg");

        @*<div class="card m-3" style="min-width: 16rem; max-width: 30.5%;">*@
        <div class="card m-3" style="min-width: 15rem; max-width: 30.0%;">
            <div class="card-body">
                <h5 class="card-title">@room.Type</h5>
                <h5 class="card-title">Nr pokoju: @room.RoomNumber</h5>
                <h5 class="card-title">Cena: @room.Price złotych</h5>
                <h5 class="card-title">ID pokoju: @room.RoomID</h5>
                <hr />
            </div>

            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true" />
            <div class="card-footer text-center">

                <a asp-controller="Room" asp-action="Details" asp-route-id="@room.RoomID" class="btn btn-outline-primary btn-sm">Podgląd</a>
                <a asp-controller="Room" asp-action="Edit" asp-route-id="@room.RoomID" class="btn btn-outline-primary btn-sm">Edytuj</a>
                <a asp-controller="Room" asp-action="Delete" asp-route-id="@room.RoomID" class="btn btn-outline-danger btn-sm"
                   onclick="return confirm('Czy na pewno chcesz usunąć pokój: @room.Type ?')">Usuń</a>
            </div>
        </div>
    }
</div>


