@model IEnumerable<Reservation>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "My Reservation";
}

<html>
<head>
    <title></title>
</head>
<p>Dzisiaj jest: @ViewBag.TerazJest</p>
<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID rezerwacji </th>
                <th scope="col">ID pokoju</th>
                <th scope="col">Email</th>
                <th scope="col">Data zameldowania </th>
                <th scope="col">Data wymeldowania </th>
                <th scope="col">Wartość </th>
                <th scope="col">Co chcesz zrobić? </th>
            </tr>
        </thead>
        <tbody>
            <!--Dla każdego obiektu wizyty w Modelu-->
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.ReservationID</td>
                    <td>@reservation.RoomID</td>
                    <td>@reservation.UserName</td>
                    <td>@reservation.CheckInDate</td>
                    <td>@reservation.CheckOutDate</td>
                    <td>@reservation.TotalPrice</td>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm" asp-controller="Reservation" asp-action="EditReservation" asp-route-id="@reservation.ReservationID">Edytuj</a> |
                        <a class="btn btn-outline-secondary btn-sm" asp-controller="Reservation" asp-action="DetailReservation" asp-route-id="@reservation.ReservationID">Szczegóły</a> |
                        <a asp-controller="Reservation" asp-action="DeleteReservation" asp-route-id="@reservation.ReservationID" class="btn btn-outline-danger btn-sm"
                           onclick="return confirm('Czy na pewno chcesz usunąć wizytę: @reservation.ReservationID ?')">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>



