@model IEnumerable<Reservation>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "My Reservation";
}


<h5>Podsumowanie Twoich rezerwacji @UserManager.GetUserAsync(User).Result.FirstName</h5>
<hr />
<img src="~/Images/HotelAssist.JPG" align="left" height="155" width="120" />
<p class="text-justify">
    Na dzień @DateTime.Today.ToShortDateString() dokonałeś w hotelu Grand Royale w Bydgoszczy łącznie
    @Model.Count(i => i.UserName == UserManager.GetUserAsync(User).Result.UserName) rezerwacje @UserManager.GetUserAsync(User).Result.FirstName.
    Spośród nich @Model.Count(i => i.CheckInDate >= DateTime.Today && i.CheckInDate <= i.CheckOutDate &&
i.UserName == UserManager.GetUserAsync(User).Result.UserName) obecnie jest w trakcie realizacji
    a @Model.Count(i => i.CheckOutDate < DateTime.Today && i.UserName == UserManager.GetUserAsync(User).Result.UserName) już się zakończyła. Nadal oczekujesz na
    @Model.Count(i => i.CheckInDate > DateTime.Today && i.UserName == UserManager.GetUserAsync(User).Result.UserName) rezerwacje.

    Łączna wartość rezerwacji to @Model.Sum(i => i.TotalPrice) złotych. Średnia wartość zrealizowanych przez Ciebie rezerwacji
    to @Model.Average(i => i.TotalPrice).ToString("0.00") złotych.
           
</p>
<br />
<br />
<br />
<html>
<br />
<h5> Wykaz Twoich rezerwacji @UserManager.GetUserAsync(User).Result.FirstName</h5>
<hr />

<body>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Rezerwacja</th>
                <th scope="col">Pokój</th>
                <th scope="col">Email</th>
                <th scope="col">Zameldowanie</th>
                <th scope="col">Wymeldowanie</th>
                <th scope="col">Pobyt (dni)</th>
                <th scope="col">Koszt (zł)</th>
                <th scope="col">Co chcesz zrobić?</th>
            </tr>
        </thead>
        <tbody>
            <!--Dla każdego obiektu rezerwacji w Modelu-->
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.ReservationID</td>
                    <td>@reservation.RoomID</td>
                    <td>@reservation.UserName</td>
                    <td>@reservation.CheckInDate.Value</td>
                    <td>@reservation.CheckOutDate.Value</td>
                    <td>@reservation.CountDays</td>
                    <td>@reservation.TotalPrice</td>
                    <td>
                        <a class="btn btn-outline-secondary btn-sm" asp-controller="Reservation" asp-action="EditReservation" asp-route-id="@reservation.ReservationID">Edytuj</a> |
                        <a class="btn btn-outline-info btn-sm" asp-controller="Reservation" asp-action="DetailReservation" asp-route-id="@reservation.ReservationID">Szczegóły</a> |
                        <a asp-controller="Reservation" asp-action="DeleteReservation" asp-route-id="@reservation.ReservationID" class="btn btn-outline-danger btn-sm"
                           onclick="return confirm('Czy na pewno chcesz usunąć rezerwację: @reservation.ReservationID ?')">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>



